<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PWAL" class="it.ismb.pertlab.pwal.PwalImpl">
    	<constructor-arg>
    		<list value-type="it.ismb.pertlab.pwal.api.devices.interfaces.DevicesManager">
<!--     			<ref bean="thermometerFakeManager"/>  -->
<!--     			<ref bean="oxygenFakeManager"/> -->
<!--     			<ref bean="bluetoothThermometerDriver"/> -->
<!-- 				<ref bean="wsnManager"/> -->
				<ref bean="bluetoothManager"/>
    		</list>
    	</constructor-arg>
    </bean>
 	<bean id="thermometerFakeManager" class="it.ismb.pertlab.pwal.manager.thermometer.ThermometerFakeManager"/> 
	<bean id="oxygenFakeManager" class="it.ismb.pertlab.pwal.manager.oxygenmeter.OxygenmeterFakeManager"/>
<!-- 	<bean id="bluetoothThermometerDriver" class="it.ismb.pertlab.pwal.driver.thermometer_driver.BluetoothThermometerDriver"/> -->
	<bean id="wsnManager" class="it.ismb.pertlab.pwal.wsn.driver.WSNManager"/>
	<bean id="bluetoothManager" class="it.ismb.pertlab.pwal.manager.thermometer.ThermometerManager">
		<constructor-arg>
			<map>
				<entry key="00123EFF29DB" value="it.ismb.pertlab.pwal.manager.thermometer.device.ThermometerDevice"/>
			</map>
		</constructor-arg>
	</bean>
</beans>