# Copyright [2013] [Fraunhofer-Gesellschaft]
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# @author Jose Angel Carvajal Soto
# @since       1.3.1

###########################################################################
#                            SECTION                                      #
##                General Configuration (GC Utils Conf)                   #
#                                                                         #
###########################################################################

    # this property doesn't work at the moment
        LOGGER_LOG_ONLINE_ENABLED = false
        logging_default_configuration_file =  conf.cfg
        general_time_timestamp_format = yyyy-MM-dd'T'HH:mm:ss.S'Z'
        general_time_zone = Europe/Berlin
        general_time_epoch = false

###########################################################################
#                          GC SECTION                                     #
##                  broker(s) default configuration                      ##
#                                                                         #
###########################################################################

    #
    # The following properties define the default properties of all brokers defined in the system
    # In other words, if there is no specific configuration for any of this properties;
    # the value set here will be use. (see non-default broker(s) configuration section)
    #

        connection_broker_mqtt_hostname = localhost
        connection_broker_mqtt_port = 1883
        connection_broker_mqtt_security_port = 8883
        connection_broker_mqtt_enableFileConnectionPersistency = false
        connection_broker_mqtt_timeOut = 60000
        connection_broker_mqtt_noReconnectTry = 10
        connection_broker_mqtt_reconnectWaitingTime = 60000
        connection_broker_mqtt_keepAlive = 60000

        messaging_client_mqtt_enableRetainPolicy = false
        messaging_client_mqtt_sub_qos = 2
        messaging_client_mqtt_pub_qos = 0
        # DEFAULT (try 3.1.1,otherwise 3.1), V3_1 (3.1), V3_1_1 (3.1.1)
        messaging_client_mqtt_version = DEFAULT
        messaging_client_mqtt_maxInFlightMessages = 10
        messaging_client_mqtt_automaticReconnect = true
         messaging_client_mqtt_session_clean_enabled = true

###########################################################################
#                            GC SUBSECTION                                #
#                broker(s) security default configuration                 #
#                                                                         #
###########################################################################
        connection_broker_mqtt_security_certificateBaseSecurityEnabled = false
        connection_broker_mqtt_security_caCertificatePath =
        connection_broker_mqtt_security_caCertificatePassword =
        connection_broker_mqtt_security_certificatePath =
        connection_broker_mqtt_security_certificatePassword =
        connection_broker_mqtt_security_keyPath =
        connection_broker_mqtt_security_keyPassword =

###########################################################################
#                         GC SUBSECTION                                   #
#                  non-default broker(s) configuration                    #
#                                                                         #
###########################################################################
    #
    ## definition of brokers (by default will take the values of the default broker configuration
    #
        connection_brokers_aliases =

    #
    # Add here configuration that differs from the default configuration.
    # The configuration property stays the same, just add the alias of the broker as postfix.
    # Below we can see an example that change the default "hostname" of the broker with alias "control"
    # e.g.
        #connection.broker.mqtt.hostname.control = almanac-broker



###########################################################################
#                            GC SECTION                                   #
##                Debugging core configuration Log4j conf.                #
#                                                                         #
###########################################################################
    # Root logger option
        log4j_rootLogger=INFO, file, stdout
    # Direct log messages to a log file
        log4j_appender_file=org.apache.log4j.RollingFileAppender
        log4j_appender_file_File= logging.log
        log4j_appender_file_MaxFileSize=10MB
        log4j_appender_file_MaxBackupIndex=10
        log4j_appender_file_layout=org.apache.log4j.PatternLayout
        log4j_appender_file_layout_ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n

    # Direct log messages to stdout
        log4j_appender_stdout=org.apache.log4j.ConsoleAppender
        log4j_appender_stdout_Target=System.out
        log4j_appender_stdout_layout=org.apache.log4j.PatternLayout
        log4j_appender_stdout_layout_ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n

###########################################################################
#                         GC SUBSECTION                                   #
#                 Test and validation configuration                       #
#                                                                         #
###########################################################################

#  test.validation.lot.size = 10000
#  test.validation.message.forwarding.enabled
#  test.validation.mqtt.observers.enabled
# test.validation.message.deliverer
