#
# This file define the configurable values of the Data-Fusion Manager
#
# Author: Jose Angel Carvajal Soto
# Organization: Fraunhofer FIT
#

#
## DataFusionWrapper conf:
#
## Indicates witch Handler should load
DEFAULT_HANDLER = eu.almanac.event.datafusion.handler.ComplexEventHandlerImpl

BUILDIN_PACKAGES = eu.almanac.event.cep.esper.utils.Tools,java.security.*, java.util.UUID, CEML

DUMMY_CONF = dummy







