.Trendimg {
    height: 100px;
    width: 50%;
    margin-left:50px;
    margin-top:50px;
    border-style: dotted;
}

#map-canvas {
	margin-top: 0px;
	height: 660px;
	position: relative;

  }

  #wrapper {
    display:table;
    width:100%;
  }
  #row {
    display:table-row;
  }
  #first {
    display:table-cell;
    width:500px;
  }
  #second {
    display:table-cell;
    width:200px;
  }
  #third {
    display:table-cell;
    width:200px;
  }




