{% include head-default.html %}
{% include style.html %}
{% include metro-style.html %}
<link rel="stylesheet" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" href="assets/css/internal/custom_container.css">
<!-- Css for color picker  -->
<link rel="stylesheet" href="assets/css/colpick.css">

<style type="text/css">
      #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>


<!-- import script for the mqtt client -->
<script src="assets/js/mqttlib/mqttws31.js"></script>

<!-- metro ui css js import -->
<script src="assets/js/metro-countdown.js"></script>
<script src="assets/js/metro-slider.js"></script>
<!-- <script src="assets/js/metro-scroll.js"></script> -->

<script src="assets/js/jquery-widget.js"></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlW2pCxcYCYiDIo1GrpLjv9viqNXrSuc8"></script> -->
<script src="assets/js/device/device.js"></script>
<script src="assets/js/highcharts/highcharts.js"></script>
<script src="assets/js/highcharts/exporting.js"></script>
<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
<!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<script src="assets/js/jquery-blink.js"></script>
<script src="assets/js/navbar/navbar.js"></script>
<script src="assets/js/uuid/uuid.js"></script>

<!-- Js for color picker -->
<script src="assets/js/device/colpick.js"></script>
