{% include head-default.html %}
<!-- {% include style.html %} -->
{% include metro-style.html %}
<!-- import css for the data table -->
<link rel="stylesheet" href="assets/css/jquery.dataTables.css">
<!-- import internal css -->
<link rel="stylesheet" href="assets/css/internal/custom_container.css">


<!-- import script for the data table -->
<script src="assets/js/jquery.dataTables.min.js"></script>
<!-- import script for the data table tools -->
<script src="assets/js/dataTables.tableTools.js"></script>
<!-- import script to fill the devices table -->
<script src="assets/js/devices/devices.js"></script>
<!-- import script for the mqtt client -->
<script src="assets/js/mqttlib/mqttws31.js"></script>
<script src="assets/js/navbar/navbar.js"></script>
<script src="assets/js/uuid/uuid.js"></script>