<link rel="stylesheet" href="assets/css/leaflet.css" />
<link rel="stylesheet" href="assets/css/MarkerCluster.css" />
<link rel="stylesheet" href="assets/css/MarkerCluster.Default.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlW2pCxcYCYiDIo1GrpLjv9viqNXrSuc8&libraries=places"></script>
<script src="assets/js/map/leaflet.js"></script>
<script src="assets/js/map/leaflet.markercluster.js"></script>
<script src="assets/js/map/Google.js"></script>
<script src="assets/js/map/typeahead.js"></script>
<script src="assets/js/map/typeahead-addresspicker.js"></script>
<script src="assets/js/map/map-leaflet.js"></script>


