<nav class="navigation-bar bg-lightBlue fixed-bottom">
	<nav class="navigation-bar-content">
		
			<a class="element brand" href="index.html"><span class="icon-cloud"></span> {{ site.title }}</a>
			<span class="element-divider"></span>
			<a class="element" href="map3.html"><i class="icon-earth"></i> Map</a>
			<a class="element" href="devices.html"><i class="icon-dashboard"></i> Devices</a>
<!-- 			<a class="element" href="{{ site.baseurl }}/platform.html"><i class="icon-fire"></i> Platform</a> -->
			<a class="element" href="platform.html"><i class="icon-fire"></i> Platform</a>
			<a class="element" href="api.html"><i class="icon-cog"></i> APIs</a>
			<div class="element input-element place-right">
				 <i id="mqttStatusIcon"></i>
				 <span id="mqttStatusText"></span>
			</div>
	</nav>
</nav>
