{% include head-default.html %}
{% include metro-style.html %}
<link rel="stylesheet" href="assets/css/internal/custom_container.css">
<link rel="stylesheet" href="assets/css/platform/platform.css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<script src="assets/js/mqttlib/mqttws31.js"></script>
<script src="assets/js/platform/platform.js"></script>
<script src="assets/js/jquery-widget.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/navbar/navbar.js"></script>
<script src="assets/js/uuid/uuid.js"></script>